In [1]:
import pandas as pd

In [2]:
#read CSV files
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
df = pd.read_csv('example')

In [4]:
df.to_csv('My_output',index=False) #index=False to not add another index

In [5]:
#pandas ca nreal and write data can import formulas and stuff
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [6]:
#writeing a data to an excel output is easy
df.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

In [8]:
#HTML input
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
#pandas looks for table references in hte HTMl code and converts into a data from

In [18]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine('sqlite:///:memory:')

In [21]:
df.to_sql('my_table',engine)

4

In [22]:
sqldf = pd.read_sql('my_table', con=engine)

In [23]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15