In [19]:
# were going to learn multi index and index hierachy
import numpy as np
import pandas as pd
import random

In [20]:
# Index Levels that were going to build the dataframe 
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside)) # list zip() join two tuple together
hier_index = pd.MultiIndex.from_tuples(hier_index) # MultiIndex for a cotumization to make a data frame

In [21]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [22]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [26]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B']) # constructing a multi index data frame

In [27]:
df

             A         B
G1 1  0.089055  2.088892
   2  0.300826  0.392573
   3 -0.048435  0.383930
G2 1 -1.102513 -1.007829
   2 -0.682440  1.016479
   3 -1.158939 -0.573647

In [35]:
# how to call data hierachy
df.loc['G1'].loc[1]

A    0.089055
B    2.088892
Name: 1, dtype: float64

In [73]:
df.index.names = ['Groups', 'Num']

In [74]:
df

                   A         B
Groups Num
G1     1    0.089055  2.088892
       2    0.300826  0.392573
       3   -0.048435  0.383930
G2     1   -1.102513 -1.007829
       2   -0.682440  1.016479
       3   -1.158939 -0.573647

In [75]:
df.loc['G2'].loc[2]['B']

1.0164794928752212

In [76]:
df.loc['G1'].loc[1]['A']

0.08905524171523613

In [77]:
df.loc['G1'].loc[2]['B']

0.3925733162228847

In [78]:
df.loc['G2'].loc[3]['B']

-0.5736474161370053

In [80]:
# cross section funciton xs
df.xs(1,level='Num')

               A         B
Groups
G1      0.089055  2.088892
G2     -1.102513 -1.007829